# --- Operating System Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo
*.iml
.fleet/

# --- Go ---
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor/

# --- Java ---
*.class
*.log
*.ctxt
.gradle/
build/
target/
*.jar
*.war
*.ear

# --- C# / .NET ---
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# --- C++ ---
*.o
*.obj
*.out
*.app
*.gch
*.pch
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake-install/

# --- Rust ---
/target/
**/*.rs.bk
Cargo.lock

# --- Flutter / Dart ---
.dart_tool/
.packages
build/
.pub-cache/
.pub/
android/.gradle/
ios/Flutter/Flutter.podspec